<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requests</title>
</head>
<body>
    <h3> Requests </h3>
    <ul>
        <% requests.forEach((req) => { %>
            <li><%= req.ip %> - <%= req.date %></li>
        <% }); %>    
    </ul>
</body>
</html>